![logo](./img/logo.png)

# Giới thiệu nhóm

| MSSV | Full Name | ID Github |
| ---- | ---- | -------- |
| 1612835 | Bùi Trọng Xuyến | btxuyenhcmus |
| 18120563 | Hứa Phú Thành | huasen07 |
| 1712391 | Trần Bảo Duy | duytran1999 |
| 1712787 | Nguyễn Văn Thìn | thinnguyenqb |

[https://github.com/thinnguyenqb/KHDLUD-Nhom05.git](https://github.com/thinnguyenqb/KHDLUD-Nhom05.git)

![Footer-logo](./img/footer.png)

# Giới thiệu bài toán

![banner](./img/competition_banner.png)

## Sơ lượt về cuộc thi

`Walmart` là một trong các chợ thương mại điện tử lớn hàng đầu ở USA, với lượng `volume` sản phẩm bán ra cực kì lớn của mình. Cuộc thi được đưa ra với mục tiêu thách thức các team sử dụng các thuật toán nâng cao để đưa ra được dự đoán chính xác nhất về lượng hàng hóa bán ra trong một chuỗi thời gian tương lai tiếp theo.

`M5` bắt đầu vào ngày `02/03/2020` và kết thúc ngày `30/06/2020`. Tổ chức trên nền tảng công nghệ `Kaggle`.

`M5` tổ chức thành 2 cuộc thi nhỏ chạy song song trên `kaggle` và cùng sử dụng chung một  bộ dữ liệu.

- Cuộc thi đầu tiên có tên gọi là `M5 Forecasting Competition – Accuracy` với mục tiêu là dự đoán doanh số bán hàng trong 28 ngày kế tiếp cho các sản phẩm tại các cửa hàng Walmart.
- Cuộc thi thứ hai có tên gọi là `M5 Forecasting Competition – Uncertainty` với mục tiêu là dự đoán sác xuất.

Cuộc thi kết thúc với sự tham gia của `5.558` teams

## Dữ liệu đầu vào

- `calendar.csv`
- `sales_train_validation.csv`
- `sell_prices.csv`
- `sales_train_evaluation.csv`

## Dữ liệu đầu ra

- `submission.csv`

# Tập dữ liệu

![Dataset-hir](./img/dataset_hir.png)

Tập dữ liệu `M5`, được cung cấp rộng rãi bởi `Walmart`, liên quan đến doanh số bán hàng đơn vị của các sản phẩm khác nhau được bán ở Hoa Kỳ, được tổ chức dưới dạng chuỗi thời gian được nhóm lại. Cụ thể hơn, tập dữ liệu liên quan đến doanh số bán hàng theo đơn vị của `3.049 sản phẩm`, được phân loại thành `3 danh mục` sản phẩm (Sở thích, Thực phẩm và Gia dụng) và `7 phòng ban sản phẩm`, trong đó các danh mục nêu trên được tách riêng. Các sản phẩm được bán trên mười cửa hàng, đặt tại `3 Bang` (CA, TX và WI).

In [3]:
import pandas as pd

## Calendar.csv

- `data`: Ngày ở địng dạng y-m-d
- `wm_yr_wk`: id tuần mà ngày thuộc về
- `weekday`: Loại ngày trong tuần (Monday, ….)
- `wday`: Id của ngày trong tuần bắt đầu từ thứ 7
- `month`: tháng
- `year`: năm
- `event_name_1`: Nếu ngày có sự kiện, thì tên sự kiện 
- `event_type_1`:Nếu ngày có sự kiện, thì loại sự kiện
- `event_name_2`: Nếu ngày có sự kiện thứ hai, thì tên sự kiện
- `event_type_2`: Nếu ngày có sự kiện thứ hai, thì loại sự kiện
- `snap_CA,snap_TX, snap_WI`: giá trị nhị phân cho biết cửa hàng CA,TX,WI có cho phép mua SNAP^3 vào ngày được cho phép hay không ? Nếu cho phép là 1.

In [4]:
calendar_ = pd.read_csv('./input/calendar.csv')
calendar_.head(5)

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [5]:
calendar_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1969 non-null   object
 1   wm_yr_wk      1969 non-null   int64
 2   weekday       1969 non-null   object
 3   wday          1969 non-null   int64
 4   month         1969 non-null   int64
 5   year          1969 non-null   int64
 6   d             1969 non-null   object
 7   event_name_1  162 non-null    object
 8   event_type_1  162 non-null    object
 9   event_name_2  5 non-null      object
 10  event_type_2  5 non-null      object
 11  snap_CA       1969 non-null   int64
 12  snap_TX       1969 non-null   int64
 13  snap_WI       1969 non-null   int64
dtypes: int64(7), object(7)
memory usage: 215.5+ KB

## Sell_prices.csv

- `store_id`: mã cửa hàng
- `item_id`: mã mặt hàng
- `wm_yr_wk`: id của tuần chứa ngày
- `sell_price`: giá bán

In [6]:
sell_prices_ = pd.read_csv('./input/sell_prices.csv')
sell_prices_.head(5)

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [7]:
sell_prices_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6841121 entries, 0 to 6841120
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   store_id    object
 1   item_id     object
 2   wm_yr_wk    int64
 3   sell_price  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 208.8+ MB

## Sales_train_evaluation.csv / sales_train_validation.csv

- `id`: mã
- `item_id`: mã sản phẩm
- `dept_id`: mã khu vực/ vùng
- `cat_id`: mã loại
- `store_id`: mã cửa hàng
- `state_id`: mã tiểu bang
- `[d_1,d_1913]`: dữ liệu bán hàng

In [8]:
sales_train_evaluation_ = pd.read_csv('./input/sales_train_evaluation.csv')
sales_train_evaluation_.head(5)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0

In [9]:
sales_train_evaluation_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1947 entries, id to d_1941
dtypes: int64(1941), object(6)
memory usage: 452.9+ MB

## Sample_submission.csv

In [10]:
sample_submission_ = pd.read_csv('./input/sample_submission.csv')
sample_submission_.head(5)

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HOBBIES_1_002_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HOBBIES_1_005_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Đánh giá

## Forecasting horizon

Cả 2 cuộc thi dự đoán điểm và dự đoán sác xuất đều có chung một tham số `h=28 days` (4 weeks ahead).

Đầu tiên, các phép đo hiệu suất được tính toán riêng biệt cho từng chuỗi bằng cách lấy trung bình các giá trị của chúng trên toàn bộ `forecasting horizon` và sau đó được tính trung bình lại trên `mỗi serices` theo kiểu có trọng số  để thu được điểm số cuối cùng.

## Point forecasts

Độ chính xác của các dự báo điểm sẽ được đánh giá bằng cách sử dụng `Root Mean Squared Scaled Error (RMSSE)`, là một biến thể của `well-known Mean Absolute Scaled Error (MASE)` nổi tiếng được đề xuất bởi `Hyndman và Koehler (2006)`. Số đo được tính cho từng series như sau:

$$RMSSE = \sqrt{\frac{1}{h}\frac{\displaystyle\sum_{t=n+1}^{n+h} (Y_{t} - \hat{Y}_{t})^2}{\frac{1}{n-1}\displaystyle\sum_{t=2}^{n}(Y_{t} - Y_{t-1})^2}}$$

Với,
- $Y_{t}$ là giá trị thật của `series` đã kiểm tra tại thời điểm t.
- $\hat{Y}_{t}$ là giá trị dự đoán.
- $n$ là kích thước của tập training (số lượng quan sát lịch sử).
- $h$ tham số `Forecasting horizon`

Sau khi đã ước tính cho `42840 series` mối đội tham gia sẽ được sếp hạng theo số điểm `Weighted RMSSE (WRMSSE)`, công thức sẽ là:

$$WRMSSE = \displaystyle\sum_{i=1}^{42,840} w_{i}*RMSSE$$

Với, $w_{i}$ là trọng số của series thứ $i$.

Độ lỗi `WRMSSE` càng thấp thì tính chính xác của thuật toán áp dụng càng cao.

# Hướng giải quyết - `LightGBM Regressor (tuya)`

`LightGBM` có kết quả `score` là `0.67749 (private score)`. Trong tổng số `5.558 đội` tham gia cuộc thi thì với số điểm này và vị trí thứ `458` hướng giải quyết này lọt vào `top 9% trên bảng private leaderboard`.
![tuya-kaggle](./img/tuya_kaggle.png)

So sánh `LightGBM` với các thuật toán khác với dùng một input đầu vào,

![comparasion](./img/submission_comparasion.png)
![comparasion2](./img/submission_comparasion2.png)

Quan sát các lần submit của các thuật toán, thì dễ dàng nhận ra `LightGBM` cho kết quả tốt nhất.

## Feature Engineering and Data Preprocessing

In [11]:
import pickle
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import plotly.express as px
from downcast import reduce
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")
from tqdm import tqdm

- Replace 'NaN' values by 'no_event' in event columns

In [12]:
cat=['event_name_1','event_type_1','event_name_2','event_type_2']
for i in cat:
  calendar_[i].fillna('no_event',inplace=True)

- Adding feature 'is_weekend' which tells about that day is weekend or not

In [13]:
f=lambda x: 1 if x<=2 else 0
#https://stackoverflow.com/questions/21608228/conditional-replace-pandas
calendar_['is_weekend']=calendar_['wday'].map(f) 
calendar_['is_weekend']=calendar_['is_weekend'].astype(np.int8)

- Adding feature 'month_day' which tells day of the month

In [14]:
m=calendar_["date"].tolist()
m=[i.split("-")[2] for i in m]
calendar_["month_day"]=m
calendar_['month_day']=calendar_['month_day'].astype(np.int8)

- Adding feature 'month_week_number' which tells which week of the month

In [15]:
#https://stackoverflow.com/questions/3806473/python-week-number-of-the-month
calendar_['month_week_number']=(calendar_['month_day']-1) // 7 + 1 
calendar_['month_week_number']=calendar_['month_week_number'].astype(np.int8)

- Adding feature 'events_per_day' which tells us number of events on particular day

In [16]:
f=lambda x: 0 if x=='no_event' else 1
#https://stackoverflow.com/questions/21608228/conditional-replace-pandas
calendar_['events_per_day']=calendar_['event_type_1'].map(f) 
#https://www.kite.com/python/answers/how-to-get-the-indices-of-rows-in-a-pandas-dataframe-which-satisfy-a-given-condition-in-python
index=calendar_.index 
indices=index[calendar_['event_type_2']!='no_event'].tolist()
for i in indices:
  calendar_['events_per_day'][i]+=1
calendar_['events_per_day']=calendar_['events_per_day'].astype(np.int8)

In [17]:
calendar_=reduce(calendar_)

In [18]:
calendar_.head(3)

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,is_weekend,month_day,month_week_number,events_per_day
0,2011-01-29,11101,Saturday,1,1,2011,d_1,no_event,no_event,no_event,no_event,0,0,0,1,29,5,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,no_event,no_event,no_event,no_event,0,0,0,1,30,5,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,no_event,no_event,no_event,no_event,0,0,0,0,31,5,0

In [19]:
sales_train_evaluation_=reduce(sales_train_evaluation_)

In [20]:
sell_prices_=reduce(sell_prices_)

In [21]:
calendar_['date'].nunique()

1969

- No of days data present is 1969

In [22]:
sales_train_evaluation_[['id','item_id','dept_id','cat_id','store_id','state_id']].nunique()

id          30490
item_id      3049
dept_id         7
cat_id          3
store_id       10
state_id        3
dtype: int64

### Melting

- To make analysis of data in table easier we can reshape the data into a more computer-friendly form using pandas in Python. pandas.melt() is one of the function to do so
- pandas.melt() unpivots a DataFrame from wide format to long format.
- melt() function is useful to massage a DataFrame into a format where one or more columns are identifier variables while all other columns considered measured variables are unpivoted to the row axis leaving just two non-identifier columns variable and value.

In [23]:
#https://pandas.pydata.org/docs/reference/api/pandas.melt.html
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html
sales=pd.melt(sales_train_evaluation_,id_vars=['id','item_id','dept_id','cat_id','store_id','state_id'],var_name='d',value_name='demand')
sales=pd.merge(sales,calendar_,on='d',how='left')
sales=pd.merge(sales,sell_prices_,on=['item_id','store_id','wm_yr_wk'],how='left')

In [24]:
sales.head(3)

,id,item_id,dept_id,cat_id,store_id,state_id,d,demand,date,wm_yr_wk,...,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,is_weekend,month_day,month_week_number,events_per_day,sell_price
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,no_event,no_event,0,0,0,1,29,5,0,NaN
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,no_event,no_event,0,0,0,1,29,5,0,NaN
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,no_event,no_event,0,0,0,1,29,5,0,NaN

- Since we got many rows with 'NaN' values in Sell Price

- Thus replacing 'NaN" in 'sell_price' feature with the mean value

In [25]:
sales['sell_price']=sales['sell_price'].fillna(sales.groupby('id')['sell_price'].transform('mean'))

In [26]:
sales.head(3)

,id,item_id,dept_id,cat_id,store_id,state_id,d,demand,date,wm_yr_wk,...,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,is_weekend,month_day,month_week_number,events_per_day,sell_price
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,no_event,no_event,0,0,0,1,29,5,0,8.281250
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,no_event,no_event,0,0,0,1,29,5,0,3.970703
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,no_event,no_event,0,0,0,1,29,5,0,2.970703

In [27]:
sales=reduce(sales)

### Lags

- Lag features are the classical way that time series forecasting problems are transformed into supervised learning problems.
- Lag is expressed in a time unit & corresponds to the amount of data history we allow the model to use when making the prediction.
- Here we have applied Lags on 'demand' column.
- The maximum Lags taken is 70 days

In [28]:
#https://stackoverflow.com/questions/20410312/how-to-create-a-lagged-data-structure-using-pandas-dataframe
lags=[28,35,42,49,56,63,70]
for i in tqdm(lags):
  sales['lag_'+str(i)]=sales.groupby(['id'])['demand'].shift(i)

100%|██████████| 7/7 [00:10<00:00,  1.47s/it]

In [29]:
sales.head(3)

,id,item_id,dept_id,cat_id,store_id,state_id,d,demand,date,wm_yr_wk,...,month_week_number,events_per_day,sell_price,lag_28,lag_35,lag_42,lag_49,lag_56,lag_63,lag_70
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,5,0,8.281250,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,5,0,3.970703,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,5,0,2.970703,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Replacing 'NaN' in 'lags' features with 0

In [30]:
lags=['lag_28','lag_35','lag_42','lag_49','lag_56','lag_63','lag_70']
for i in lags:
  sales[i]=sales[i].fillna(0)

In [31]:
sales.head(3)

,id,item_id,dept_id,cat_id,store_id,state_id,d,demand,date,wm_yr_wk,...,month_week_number,events_per_day,sell_price,lag_28,lag_35,lag_42,lag_49,lag_56,lag_63,lag_70
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,5,0,8.281250,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,5,0,3.970703,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,5,0,2.970703,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
sales=reduce(sales)

### Rolling-Mean

- Rolling is a very useful operation for time series data.
- Rolling means creating a rolling window with a specified size & perform calculations on data in this window which of course rolls through data.
- Here we have computing Rolling-Mean on 'demand' column.
- The maximum Window size taken is 42

In [ ]:
#https://stackoverflow.com/questions/13996302/python-rolling-functions-for-groupby-object
##https://www.geeksforgeeks.org/python-pandas-dataframe-transform/
window=[7,14,28,35,42]
for i in tqdm(window):
  sales['rolling_median_'+str(i)]=sales.groupby(['id'])['demand'].transform(lambda s: s.rolling(i,center=False).median())

  0%|          | 0/5 [00:00<?, ?it/s]

- Replacing 'NaN' in 'rolling_ mean' features with 0

In [ ]:
window=['rolling_median_7','rolling_median_14','rolling_median_28','rolling_median_35','rolling_median_42']
for i in window:
  sales[i]=sales[i].fillna(0)

In [ ]:
sales=reduce(sales)

In [ ]:
sales.head(3)

### Label-Encoding

- Encoding refers to converting the labels into numeric form so as to convert it into the machine-readable form.
- Machine learning algorithms can then decide in a better way on how those labels must be operated.
- It is an important pre-processing step for the structured dataset in supervised learning

In [ ]:
#https://www.mygreatlearning.com/blog/label-encoding-in-python/
labelencoder=LabelEncoder() 
category=['event_name_1','event_type_1','event_name_2','event_type_2','id','item_id','dept_id','cat_id','store_id','state_id']
for i in tqdm(category):
  sales[i+'_']=labelencoder.fit_transform(sales[i])

- Drop all the categorical columns bcoz we already added coresponding columns with label-encoding

In [ ]:
sales=sales.drop(['event_name_1','event_type_1','event_name_2','event_type_2','id','item_id','dept_id','cat_id','store_id','state_id'],axis = 1)

In [ ]:
sales.head(3)

In [ ]:
sales=reduce(sales)

- Removed '_' from 'd' column values so that we can convert Categorical feature into Numerical feature easily

In [ ]:
l=[]
for i in sales['d']:
  l.append(i.split('_')[1])
sales['day']=l
#https://stackoverflow.com/questions/15891038/change-column-type-in-pandas
sales['day']=sales['day'].astype(np.int16)

### Droping duplicate columns

- Since 'weekday' is represented by 'wday' & 'd' is represented by 'day'.
- We already have 'month','year' thats why 'date' is also duplicate column.

In [ ]:
sales=sales.drop(['d','date','weekday'],axis=1)

In [ ]:
data_final=reduce(sales)

In [ ]:
data_final.info()

## LightGBM Regressor

`LightGBM` là một khung tăng cường độ dốc gradient dựa trên thuật toán cây phân cấp.

`LightGBM` phát triển cây theo chiều dọc trong khi các thuật toán cây khác phát triển theo chiều ngang. Nghĩa là LightGBM sẽ phát triển theo nút lá, còn các thuật toán sẽ phát triển hết các node trên các cấp. Nó sẽ chọn lá với delta loss lớn nhất để phát triển, khi phát triển như vậy thì leaf-wise sẽ giảm thiểu tổn thất nhiều hơn so với level-wise.

![leaf-wise](./img/leaf-wise.png)
![level-wise](./img/level-wise.png)

`LightGBM` bắt đầu bằng từ light bới vì tốc độ của nó rất nhanh. Kèm theo đó lightGBM có thể xử lý được dữ liệu lớn mà chỉ tiêu tốn ít bộ nhớ (RAM) để chạy nó. Và một lý do nữa mà khiến nó phổ biến là vì thuật toán tập trung vào sự chính xác của kết quả.

Và điều đặt biệt lưu ý là không nên sử dụng LightGBM với lượng dữ liệu nhỏ, vì lightGBM rất dễ xảy ra hiện tượng overfiting với các tập dữ liệu có kích thước nhỏ.

### Control parameters

- `max_depth`: độ sâu lớn nhất của cây, tham số này giúm xử lý vấn đề overfiting. Bất khi nào bạn thấy model của bạn bị overfiting hãy giảm tham số này.
- `min_data_in_leaf`: số lượng dữ liệu nhỏ nhất mà một lá có thể có. Nó cũng được dùng để giải quyết overfiting.
- `feature_fraction`: dùng để tăng cường. 0.8 nghĩa là LightGBM sẽ chọn ra 80% các tham số ngẫu nhiên cho mỗi lần build tree.
- `bagging_fraction`:
- `early_stopping_round`:
- `lambda`:
- `min_gain_to_split`:
- `max_cat_group`:

### Core parameters