<a href="https://colab.research.google.com/github/thinnguyenqb/KHDLUD-Nhom05/blob/master/Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://drive.google.com/uc?export=view&id=1KGNBBRRabYfB1zOj94zVtKtVnx2vFB6f)

# Giới thiệu nhóm

| MSSV | Full Name | ID Github |
| ---- | ---- | -------- |
| 1612835 | Bùi Trọng Xuyến | btxuyenhcmus |
| 18120563 | Hứa Phú Thành | huasen07 |
| 1712391 | Trần Bảo Duy | duytran1999 |
| 1712787 | Nguyễn Văn Thìn | thinnguyenqb |

[https://github.com/thinnguyenqb/KHDLUD-Nhom05.git](https://github.com/thinnguyenqb/KHDLUD-Nhom05.git)

![Footer-logo](https://drive.google.com/uc?export=view&id=17aEQ6johMz7h-OV_zfsxx3F11NcsWXAN)

# Giới thiệu bài toán

![banner](https://drive.google.com/uc?export=view&id=1pL0j1Nakl2rwa0CI06uwB2ylyuqOvwka)

## Sơ lược về cuộc thi

`Walmart` là một trong các chợ thương mại điện tử lớn hàng đầu ở USA, với lượng `volume` sản phẩm bán ra cực kì lớn của mình. Cuộc thi được đưa ra với mục tiêu thách thức các team sử dụng các thuật toán nâng cao để đưa ra được dự đoán chính xác nhất về lượng hàng hóa bán ra trong một chuỗi thời gian tương lai tiếp theo.

`M5` bắt đầu vào ngày `02/03/2020` và kết thúc ngày `30/06/2020`. Tổ chức trên nền tảng công nghệ `Kaggle`.

`M5` tổ chức thành 2 cuộc thi nhỏ chạy song song trên `kaggle` và cùng sử dụng chung một  bộ dữ liệu.

- Cuộc thi đầu tiên có tên gọi là `M5 Forecasting Competition – Accuracy` với mục tiêu là dự đoán doanh số bán hàng trong 28 ngày kế tiếp cho các sản phẩm tại các cửa hàng Walmart.
- Cuộc thi thứ hai có tên gọi là `M5 Forecasting Competition – Uncertainty` với mục tiêu là dự đoán sác xuất.

Cuộc thi kết thúc với sự tham gia của `5.558` teams

## Dữ liệu đầu vào

- `calendar.csv`
- `sales_train_validation.csv`
- `sell_prices.csv`
- `sales_train_evaluation.csv`

## Dữ liệu đầu ra

- `submission.csv`

# Tập dữ liệu

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#!find /content/drive
%cd /content/drive/MyDrive/KHDLUD/input

Mounted at /content/drive
/content/drive/.shortcut-targets-by-id/162NSyrwjXoKLVN79CInPyD8lzPAUzNdG/KHDLUD/input

In [ ]:
!ls

calendar.csv	       sales_train_evaluation.csv  sell_prices.csv
data_final.pkl	       sales_train_validation.csv  test_3.png
drop_all_nan_data.pkl  sample_submission.csv

![Dataset-hir](https://drive.google.com/uc?export=view&id=1l2ouDSWCf2TjPMCIVANuEP7gxvvDCgb9)

Tập dữ liệu `M5`, được cung cấp rộng rãi bởi `Walmart`, liên quan đến doanh số bán hàng đơn vị của các sản phẩm khác nhau được bán ở Hoa Kỳ, được tổ chức dưới dạng chuỗi thời gian được nhóm lại. Cụ thể hơn, tập dữ liệu liên quan đến doanh số bán hàng theo đơn vị của `3.049 sản phẩm`, được phân loại thành `3 danh mục` sản phẩm (Sở thích, Thực phẩm và Gia dụng) và `7 phòng ban sản phẩm`, trong đó các danh mục nêu trên được tách riêng. Các sản phẩm được bán trên mười cửa hàng, đặt tại `3 Bang` (CA, TX và WI).

In [ ]:
import pandas as pd

## Calendar.csv

- `data`: Ngày ở địng dạng y-m-d
- `wm_yr_wk`: id tuần mà ngày thuộc về
- `weekday`: Loại ngày trong tuần (Monday, ….)
- `wday`: Id của ngày trong tuần bắt đầu từ thứ 7
- `month`: tháng
- `year`: năm
- `event_name_1`: Nếu ngày có sự kiện, thì tên sự kiện 
- `event_type_1`:Nếu ngày có sự kiện, thì loại sự kiện
- `event_name_2`: Nếu ngày có sự kiện thứ hai, thì tên sự kiện
- `event_type_2`: Nếu ngày có sự kiện thứ hai, thì loại sự kiện
- `snap_CA,snap_TX, snap_WI`: giá trị nhị phân cho biết cửa hàng CA,TX,WI có cho phép mua SNAP^3 vào ngày được cho phép hay không ? Nếu cho phép là 1.

In [ ]:
calendar_ = pd.read_csv('calendar.csv')
calendar_.head(5)

         date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0  2011-01-29     11101   Saturday  ...        0        0        0
1  2011-01-30     11101     Sunday  ...        0        0        0
2  2011-01-31     11101     Monday  ...        0        0        0
3  2011-02-01     11101    Tuesday  ...        1        1        0
4  2011-02-02     11101  Wednesday  ...        1        0        1

[5 rows x 14 columns]

In [ ]:
calendar_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1969 non-null   object
 1   wm_yr_wk      1969 non-null   int64
 2   weekday       1969 non-null   object
 3   wday          1969 non-null   int64
 4   month         1969 non-null   int64
 5   year          1969 non-null   int64
 6   d             1969 non-null   object
 7   event_name_1  162 non-null    object
 8   event_type_1  162 non-null    object
 9   event_name_2  5 non-null      object
 10  event_type_2  5 non-null      object
 11  snap_CA       1969 non-null   int64
 12  snap_TX       1969 non-null   int64
 13  snap_WI       1969 non-null   int64
dtypes: int64(7), object(7)
memory usage: 215.5+ KB

## Sell_prices.csv

- `store_id`: mã cửa hàng
- `item_id`: mã mặt hàng
- `wm_yr_wk`: id của tuần chứa ngày
- `sell_price`: giá bán

In [ ]:
sell_prices_ = pd.read_csv('sell_prices.csv')
sell_prices_.head(5)

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [ ]:
sell_prices_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6841121 entries, 0 to 6841120
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   store_id    object
 1   item_id     object
 2   wm_yr_wk    int64
 3   sell_price  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 208.8+ MB

## Sales_train_evaluation.csv / sales_train_validation.csv

- `id`: mã
- `item_id`: mã sản phẩm
- `dept_id`: mã khu vực/ vùng
- `cat_id`: mã loại
- `store_id`: mã cửa hàng
- `state_id`: mã tiểu bang
- `[d_1,d_1913]`: dữ liệu bán hàng

In [ ]:
sales_train_evaluation_ = pd.read_csv('sales_train_evaluation.csv')
sales_train_evaluation_.head(5)

                              id        item_id  ... d_1940 d_1941
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0

[5 rows x 1947 columns]

In [ ]:
sales_train_evaluation_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1947 entries, id to d_1941
dtypes: int64(1941), object(6)
memory usage: 452.9+ MB

## Sample_submission.csv

In [ ]:
sample_submission_ = pd.read_csv('sample_submission.csv')
sample_submission_.head(5)

                              id  F1  F2  F3  F4  ...  F24  F25  F26  F27  F28
0  HOBBIES_1_001_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
1  HOBBIES_1_002_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
2  HOBBIES_1_003_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
3  HOBBIES_1_004_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
4  HOBBIES_1_005_CA_1_validation   0   0   0   0  ...    0    0    0    0    0

[5 rows x 29 columns]

# Đánh giá

## Forecasting horizon

Cả 2 cuộc thi dự đoán điểm và dự đoán sác xuất đều có chung một tham số `h=28 days` (4 weeks ahead).

Đầu tiên, các phép đo hiệu suất được tính toán riêng biệt cho từng chuỗi bằng cách lấy trung bình các giá trị của chúng trên toàn bộ `forecasting horizon` và sau đó được tính trung bình lại trên `mỗi serices` theo kiểu có trọng số  để thu được điểm số cuối cùng.

## Point forecasts

Độ chính xác của các dự báo điểm sẽ được đánh giá bằng cách sử dụng `Root Mean Squared Scaled Error (RMSSE)`, là một biến thể của `well-known Mean Absolute Scaled Error (MASE)` nổi tiếng được đề xuất bởi `Hyndman và Koehler (2006)`. Số đo được tính cho từng series như sau:

$$RMSSE = \sqrt{\frac{1}{h}\frac{\displaystyle\sum_{t=n+1}^{n+h} (Y_{t} - \hat{Y}_{t})^2}{\frac{1}{n-1}\displaystyle\sum_{t=2}^{n}(Y_{t} - Y_{t-1})^2}}$$

Với,
- $Y_{t}$ là giá trị thật của `series` đã kiểm tra tại thời điểm t.
- $\hat{Y}_{t}$ là giá trị dự đoán.
- $n$ là kích thước của tập training (số lượng quan sát lịch sử).
- $h$ tham số `Forecasting horizon`

Sau khi đã ước tính cho `42840 series` mối đội tham gia sẽ được sếp hạng theo số điểm `Weighted RMSSE (WRMSSE)`, công thức sẽ là:

$$WRMSSE = \displaystyle\sum_{i=1}^{42,840} w_{i}*RMSSE$$

Với, $w_{i}$ là trọng số của series thứ $i$.

Độ lỗi `WRMSSE` càng thấp thì tính chính xác của thuật toán áp dụng càng cao.

# Hướng giải quyết - `LightGBM Regressor (tuya)`

`LightGBM` có kết quả `score` là `0.67749 (private score)`. Trong tổng số `5.558 đội` tham gia cuộc thi thì với số điểm này và vị trí thứ `458` hướng giải quyết này lọt vào `top 9% trên bảng private leaderboard`.
![tuya-kaggle](https://drive.google.com/uc?export=view&id=1AQyGcWC44Sd-pE6XlINApXohYCBNHJGQ)

So sánh `LightGBM` với các thuật toán khác với dùng một input đầu vào,

![comparasion](https://drive.google.com/uc?export=view&id=1d__XDCMRvmY_d2kMzsUxMXI4RKpZ8hL4)
![comparasion2](https://drive.google.com/uc?export=view&id=1UKKa7lIMNXJJ_0rrpysArlmXIdADK9mG)

Quan sát các lần submit của các thuật toán, thì dễ dàng nhận ra `LightGBM` cho kết quả tốt nhất.

## Feature Engineering and Data Preprocessing

In [ ]:
!pip install downcast

Collecting downcast
  Downloading downcast-0.0.8-py3-none-any.whl (3.3 kB)
Installing collected packages: downcast
Successfully installed downcast-0.0.8

In [ ]:
import pickle
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import plotly.express as px
from downcast import reduce
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")
from tqdm import tqdm

- Replace 'NaN' values by 'no_event' in event columns

In [ ]:
cat=['event_name_1','event_type_1','event_name_2','event_type_2']
for i in cat:
  calendar_[i].fillna('no_event',inplace=True)

- Adding feature 'is_weekend' which tells about that day is weekend or not

In [ ]:
f=lambda x: 1 if x<=2 else 0
#https://stackoverflow.com/questions/21608228/conditional-replace-pandas
calendar_['is_weekend']=calendar_['wday'].map(f) 
calendar_['is_weekend']=calendar_['is_weekend'].astype(np.int8)

- Adding feature 'month_day' which tells day of the month

In [ ]:
m=calendar_["date"].tolist()
m=[i.split("-")[2] for i in m]
calendar_["month_day"]=m
calendar_['month_day']=calendar_['month_day'].astype(np.int8)

- Adding feature 'month_week_number' which tells which week of the month

In [ ]:
#https://stackoverflow.com/questions/3806473/python-week-number-of-the-month
calendar_['month_week_number']=(calendar_['month_day']-1) // 7 + 1 
calendar_['month_week_number']=calendar_['month_week_number'].astype(np.int8)

- Adding feature 'events_per_day' which tells us number of events on particular day

In [ ]:
f=lambda x: 0 if x=='no_event' else 1
#https://stackoverflow.com/questions/21608228/conditional-replace-pandas
calendar_['events_per_day']=calendar_['event_type_1'].map(f) 
#https://www.kite.com/python/answers/how-to-get-the-indices-of-rows-in-a-pandas-dataframe-which-satisfy-a-given-condition-in-python
index=calendar_.index 
indices=index[calendar_['event_type_2']!='no_event'].tolist()
for i in indices:
  calendar_['events_per_day'][i]+=1
calendar_['events_per_day']=calendar_['events_per_day'].astype(np.int8)

In [ ]:
calendar_=reduce(calendar_)

In [ ]:
calendar_.head(3)

        date  wm_yr_wk   weekday  ...  month_day  month_week_number  events_per_day
0 2011-01-29     11101  Saturday  ...         29                  5               0
1 2011-01-30     11101    Sunday  ...         30                  5               0
2 2011-01-31     11101    Monday  ...         31                  5               0

[3 rows x 18 columns]

In [ ]:
sales_train_evaluation_=reduce(sales_train_evaluation_)

In [ ]:
sell_prices_=reduce(sell_prices_)

In [ ]:
calendar_['date'].nunique()

1969

- No of days data present is 1969

In [ ]:
sales_train_evaluation_[['id','item_id','dept_id','cat_id','store_id','state_id']].nunique()

id          30490
item_id      3049
dept_id         7
cat_id          3
store_id       10
state_id        3
dtype: int64

### Melting (thay đổi)

- To make analysis of data in table easier we can reshape the data into a more computer-friendly form using pandas in Python. pandas.melt() is one of the function to do so
- pandas.melt() unpivots a DataFrame from wide format to long format.
- melt() function is useful to massage a DataFrame into a format where one or more columns are identifier variables while all other columns considered measured variables are unpivoted to the row axis leaving just two non-identifier columns variable and value.

In [ ]:
#https://pandas.pydata.org/docs/reference/api/pandas.melt.html
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html
sales=pd.melt(sales_train_evaluation_,id_vars=['id','item_id','dept_id','cat_id','store_id','state_id'],var_name='d',value_name='demand')
sales=pd.merge(sales,calendar_,on='d',how='left')
sales=pd.merge(sales,sell_prices_,on=['item_id','store_id','wm_yr_wk'],how='left')

In [ ]:
sales.head(3)

                              id        item_id  ... events_per_day sell_price
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...              0        NaN
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...              0        NaN
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...              0        NaN

[3 rows x 26 columns]

**Lược bớt dữ liệu trước ngày 1-1-2014 = d_1069 trước khi đưa vào xử lí (sử dụng biến wm_yr_wk với kiểu số để dễ xử lí)**

In [ ]:
sales.drop(sales.index[sales["wm_yr_wk"]<11349], inplace=True)

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26739730 entries, 32441360 to 59181089
Data columns (total 26 columns):
 #   Column             Dtype
---  ------             -----
 0   id                 category
 1   item_id            category
 2   dept_id            category
 3   cat_id             category
 4   store_id           category
 5   state_id           category
 6   d                  object
 7   demand             int16
 8   date               datetime64[ns]
 9   wm_yr_wk           int16
 10  weekday            category
 11  wday               int8
 12  month              int8
 13  year               int16
 14  event_name_1       category
 15  event_type_1       category
 16  event_name_2       category
 17  event_type_2       category
 18  snap_CA            int8
 19  snap_TX            int8
 20  snap_WI            int8
 21  is_weekend         int8
 22  month_day          int8
 23  month_week_number  int8
 24  events_per_day     int8
 25  sell_price         float16
dtypes: category(11), datetime64[ns](1), float16(1), int16(3), int8(9), object(1)
memory usage: 1.3+ GB

**Cột `sell_price` chứa rất nhiều biến Nan nên điền vào chỗ Nan bằng giá trị mean.**

In [ ]:
sales['sell_price']=sales['sell_price'].fillna(sales.groupby('id')['sell_price'].transform('mean'))

In [ ]:
sales.head(3)

                                     id  ... sell_price
32441360  HOBBIES_1_001_CA_1_evaluation  ...   8.257812
32441361  HOBBIES_1_002_CA_1_evaluation  ...   3.970703
32441362  HOBBIES_1_003_CA_1_evaluation  ...   2.970703

[3 rows x 26 columns]

In [ ]:
sales=reduce(sales)

### Lags (thay đổi)

- Lag features are the classical way that time series forecasting problems are transformed into supervised learning problems.
- Lag is expressed in a time unit & corresponds to the amount of data history we allow the model to use when making the prediction.
- Here we have applied Lags on 'demand' column.
- The maximum Lags taken is 70 days (Giảm xuống còn 28)

**Giảm số biến lags còn 4, thêm lag cho cột `sell_price`**

In [ ]:
#https://stackoverflow.com/questions/20410312/how-to-create-a-lagged-data-structure-using-pandas-dataframe
lags=[7,14,21,28]
for i in tqdm(lags):
  sales['lag_'+str(i)]=sales.groupby(['id'])['demand'].shift(i)
  sales["sell_price_lag_" + str(i)] = sales.groupby(["id"])["sell_price"].shift(i)

100%|██████████| 4/4 [00:10<00:00,  2.55s/it]

In [ ]:
sales.head(3)

                                     id  ... sell_price_lag_28
32441360  HOBBIES_1_001_CA_1_evaluation  ...               NaN
32441361  HOBBIES_1_002_CA_1_evaluation  ...               NaN
32441362  HOBBIES_1_003_CA_1_evaluation  ...               NaN

[3 rows x 34 columns]

### Rolling-Mean (thay đổi)

- Rolling is a very useful operation for time series data.
- Rolling means creating a rolling window with a specified size & perform calculations on data in this window which of course rolls through data.
- Here we have computing Rolling-Mean on 'demand' column.
- The maximum Window size taken is 42

**Thêm hai cột mới gồm Rolling_mean_lag và sell_price_rolling_mean  (Giảm số biến win xuống còn 4)**

In [ ]:
#https://stackoverflow.com/questions/13996302/python-rolling-functions-for-groupby-object
##https://www.geeksforgeeks.org/python-pandas-dataframe-transform/
window=[7,14,21,28]
for i in tqdm(window):
  sales['rolling_mean_'+str(i)]=sales.groupby(['id'])['demand'].transform(lambda s: s.rolling(i).mean())
  sales['rolling_mean_'+str(i)+"_lag_"+str(i)] = sales.groupby("id")['rolling_mean_'+str(i)].shift(i)
  sales['sell_price_rolling_mean_'+str(i)] = sales.groupby(['id'])['sell_price'].transform(lambda x: x.rolling(i).mean())

100%|██████████| 4/4 [2:21:40<00:00, 2125.08s/it]

In [ ]:
sales.head(5)

                                     id  ... sell_price_rolling_mean_28
32441360  HOBBIES_1_001_CA_1_evaluation  ...                        NaN
32441361  HOBBIES_1_002_CA_1_evaluation  ...                        NaN
32441362  HOBBIES_1_003_CA_1_evaluation  ...                        NaN
32441363  HOBBIES_1_004_CA_1_evaluation  ...                        NaN
32441364  HOBBIES_1_005_CA_1_evaluation  ...                        NaN

[5 rows x 46 columns]

In [ ]:
with open('original_lag_win_data.pkl','wb') as f:
     pickle.dump(sales,f)

- Drop all 'NaN' in 'rolling_ mean' features

In [ ]:
sales.dropna(inplace=True)

In [ ]:
sales=reduce(sales)

In [ ]:
df.head(3)

          demand  wm_yr_wk  wday  month  ...  cat_id_  store_id_  state_id_   day
34118310       1     11403     7      2  ...        1          0          0  1120
34118311       0     11403     7      2  ...        1          0          0  1120
34118312       1     11403     7      2  ...        1          0          0  1120

[3 rows x 44 columns]

### Label-Encoding (giữ nguyên)

- Encoding refers to converting the labels into numeric form so as to convert it into the machine-readable form.
- Machine learning algorithms can then decide in a better way on how those labels must be operated.
- It is an important pre-processing step for the structured dataset in supervised learning

In [ ]:
#https://www.mygreatlearning.com/blog/label-encoding-in-python/
labelencoder=LabelEncoder() 
category=['event_name_1','event_type_1','event_name_2','event_type_2','id','item_id','dept_id','cat_id','store_id','state_id']
for i in tqdm(category):
  sales[i+'_']=labelencoder.fit_transform(sales[i])

100%|██████████| 10/10 [01:00<00:00,  6.04s/it]

- Drop all the categorical columns bcoz we already added coresponding columns with label-encoding

In [ ]:
sales=sales.drop(['event_name_1','event_type_1','event_name_2','event_type_2','id','item_id','dept_id','cat_id','store_id','state_id'],axis = 1)

In [ ]:
sales.head(3)

               d  demand       date  ...  cat_id_ store_id_  state_id_
34118310  d_1120       1 2014-02-21  ...        1         0          0
34118311  d_1120       0 2014-02-21  ...        1         0          0
34118312  d_1120       1 2014-02-21  ...        1         0          0

[3 rows x 46 columns]

In [ ]:
sales=reduce(sales)

- Removed '_' from 'd' column values so that we can convert Categorical feature into Numerical feature easily

In [ ]:
l=[]
for i in sales['d']:
  l.append(i.split('_')[1])
sales['day']=l
#https://stackoverflow.com/questions/15891038/change-column-type-in-pandas
sales['day']=sales['day'].astype(np.int16)

### Droping duplicate columns (giữ nguyên)

- Since 'weekday' is represented by 'wday' & 'd' is represented by 'day'.
- We already have 'month','year' thats why 'date' is also duplicate column.

In [ ]:
sales=sales.drop(['d','date','weekday'],axis=1)

In [ ]:
data_final=reduce(sales)

In [ ]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25062780 entries, 34118310 to 59181089
Data columns (total 44 columns):
 #   Column                      Dtype
---  ------                      -----
 0   demand                      int16
 1   wm_yr_wk                    int16
 2   wday                        int8
 3   month                       int8
 4   year                        int16
 5   snap_CA                     int8
 6   snap_TX                     int8
 7   snap_WI                     int8
 8   is_weekend                  int8
 9   month_day                   int8
 10  month_week_number           int8
 11  events_per_day              int8
 12  sell_price                  float16
 13  lag_7                       float16
 14  sell_price_lag_7            float16
 15  lag_14                      float16
 16  sell_price_lag_14           float16
 17  lag_21                      float16
 18  sell_price_lag_21           float16
 19  lag_28                      float16
 20  sell_price_lag_28           float16
 21  rolling_mean_7              float16
 22  rolling_mean_7_lag_7        float16
 23  sell_price_rolling_mean_7   float16
 24  rolling_mean_14             float16
 25  rolling_mean_14_lag_14      float16
 26  sell_price_rolling_mean_14  float16
 27  rolling_mean_21             float16
 28  rolling_mean_21_lag_21      float16
 29  sell_price_rolling_mean_21  float16
 30  rolling_mean_28             float16
 31  rolling_mean_28_lag_28      float16
 32  sell_price_rolling_mean_28  float16
 33  event_name_1_               int8
 34  event_type_1_               int8
 35  event_name_2_               int8
 36  event_type_2_               int8
 37  id_                         int16
 38  item_id_                    int16
 39  dept_id_                    int8
 40  cat_id_                     int8
 41  store_id_                   int8
 42  state_id_                   int8
 43  day                         int16
dtypes: float16(21), int16(6), int8(17)
memory usage: 1.8 GB

In [ ]:
with open('drop_all_nan_data.pkl','wb') as f:
     pickle.dump(sales,f)

## ML Models

In [ ]:
with open('drop_all_nan_data.pkl','rb') as f:
     data_final=pickle.load(f)

In [ ]:
data_final.shape

(25062780, 44)

In [ ]:
df = data_final

* Divide data into Train/Test/Validation 

  * Train: Till d_1885

  * Validation: From d_1886 to d_1914

  * Test: From d_1914 to d_1941

In [ ]:
l=[]
for i in range(1886,1914):
  l.append(i)

x_train=df.loc[df['day']<=1885]
x_valid=df.loc[df['day'].isin(l)]
x_test=df.loc[df['day']>=1914]

y_train=x_train['demand']
y_valid=x_valid['demand']
y_test=x_test['demand']

x_train=x_train.drop(['demand'],axis=1)
x_valid=x_valid.drop(['demand'],axis=1)
x_test=x_test.drop(['demand'],axis=1)

print("x_train {}".format(x_train.shape),"  y_train {}".format(y_train.shape))
print("\nx_valid {}".format(x_valid.shape),"  y_valid {}".format(y_valid.shape))
print("\nx_test {}".format(x_test.shape),"  y_test {}".format(y_test.shape))

x_train (23355340, 43)   y_train (23355340,)

x_valid (853720, 43)   y_valid (853720,)

x_test (853720, 43)   y_test (853720,)

In [ ]:
import sys
%reset_selective -f "^df$"
%reset_selective -f "^data_final$"

## LightGBM Regressor

`LightGBM` là một khung tăng cường độ dốc gradient dựa trên thuật toán cây phân cấp.

`LightGBM` phát triển cây theo chiều dọc trong khi các thuật toán cây khác phát triển theo chiều ngang. Nghĩa là LightGBM sẽ phát triển theo nút lá, còn các thuật toán sẽ phát triển hết các node trên các cấp. Nó sẽ chọn lá với delta loss lớn nhất để phát triển, khi phát triển như vậy thì leaf-wise sẽ giảm thiểu tổn thất nhiều hơn so với level-wise.

Cây ở LGBM xây dựng theo nhiều lần và mỗi cây mới được sử dụng để sửa “lỗi” 
của các cây trước đó. Như vậy sẽ nhanh chóng và mạnh mẽ, tuy nhiên cũng dễ bị over-fitting.

![leaf-wise](https://drive.google.com/uc?export=view&id=1gW5hO0yp0l_-AAFuPQh9Bh52t3cmnFvg)
![level-wise](https://drive.google.com/uc?export=view&id=1XxRzXrnyCYGlAlSarKlVxQp2-RFGWBOy)

`LightGBM` bắt đầu bằng từ light bởi vì tốc độ của nó rất nhanh. Kèm theo đó lightGBM có thể xử lý được dữ liệu lớn mà chỉ tiêu tốn ít bộ nhớ (RAM) để chạy nó. Và một lý do nữa mà khiến nó phổ biến là vì thuật toán tập trung vào sự chính xác của kết quả.

Và điều đặt biệt lưu ý là không nên sử dụng LightGBM với lượng dữ liệu nhỏ, vì lightGBM rất dễ xảy ra hiện tượng overfiting với các tập dữ liệu có kích thước nhỏ. Dùng cho data hơn 10,000 dòng.

LightGBM có hơn 100 tham số.

### Control parameters

- `max_depth`: độ sâu lớn nhất của cây, tham số này giúm xử lý vấn đề overfiting. Bất khi nào bạn thấy model của bạn bị overfiting hãy giảm tham số này.
- `min_data_in_leaf`: số lượng dữ liệu nhỏ nhất mà một lá có thể có. Nó cũng được dùng để giải quyết overfiting.
- `feature_fraction`: dùng để tăng cường. Ví dụ: 0.8 nghĩa là LightGBM sẽ chọn ra 80% các tham số ngẫu nhiên cho mỗi lần build tree.
- `bagging_fraction`: dùng để chỉ định phần dữ liệu sẽ được sử dụng cho mỗi lần lặp lại và thường được sử dụng để tăng tốc quá trình đào tạo.
- `early_stopping_round`: Tham số này thì dùng để tăng tốc độ phân tích cho mô hình. Mô hình sẽ ngừng đào tạo nếu một chỉ số của một dữ liệu không cải thiện trong số vòng của tham số Early_stopping_round đã đặt, giúp không lặp lại quá trình đào tạo nhiều lần mà không có kết quả cải thiện.
- `lambda`: lambda chỉ định chính quy hóa. Giá trị nằm trong khoảng từ 0 đến 1. Nhằm tránh Overfitting.
- `min_gain_to_split`: dùng để xác định mức tăng tối thiểu để thực hiện phân tách nhánh. Nó có thể được sử dụng để kiểm soát số lượng phân tách mà có hiệu quả trong cây.
- `max_cat_group`: Khi số lượng phân loại là lớn, việc tìm kiếm điểm phân tách trên đó dễ gây ra hiện tượng over-fitting. Vì vậy, LightGBM hợp nhất chúng thành các nhóm ‘max_cat_group’ và tìm các điểm phân tách trên ranh giới nhóm, mặc định: 64.

### Core parameters

- `Task`: Tham số để chỉ định tác vụ bạn muốn thực hiện trên dữ liệu, có thể là huấn luyện hoặc dự đoán.
- `application`: Đây là tham số quan trọng nhất và chỉ định ứng dụng cho mô hình của bạn, tức là bài toán hồi quy hay bài toán phân loại. LightGBM theo mặc định sẽ coi mô hình là một mô hình hồi quy.
- `boosting`: xác định loại thuật toán bạn muốn chạy, mặc định là: gdbt
- `num_boost_round`: Số lần lặp lại thúc đẩy, thường là 100 trở lên.
- `learning_rate`: Điều này quyết định tác động của mỗi cây đến kết quả cuối cùng. GBM hoạt động bằng cách bắt đầu với ước tính ban đầu được cập nhật bằng cách sử dụng đầu ra của mỗi cây. Tham số này kiểm soát mức độ của thay đổi này trong các ước tính. Giá trị thường là: 0,1, 0,001, 0,003…
- `num_leaves`: số lá trong toàn bộ cây, mặc định: 31
- `device`: CPU hoặc GPU.

### Train

In [ ]:
from lightgbm import LGBMRegressor

In [ ]:
def rmse(pred,value):
    return np.sqrt(((pred-value)**2).mean())

In [ ]:
learning_rate=0.034 
max_depth=66 
num_leaves=224
lgb=LGBMRegressor(learning_rate=learning_rate,max_depth=max_depth,num_leaves=num_leaves)
lgb.fit(x_train,y_train)
y_pred=lgb.predict(x_valid)
print("learning_rate: {}".format(learning_rate),"  max_depth: {}".format(max_depth),"  num_leaves: {}".format(num_leaves),"  Rmse: {}".format(rmse(y_pred,y_valid)))

learning_rate: 0.034   max_depth: 66   num_leaves: 224   Rmse: 1.737202791091725

In [ ]:
sales_train_eval=pd.read_csv('sales_train_evaluation.csv')

In [ ]:
s1=pd.DataFrame()
s2=pd.DataFrame()
s1['id']=sales_train_eval['id'] 
j=1
for i in range(1914,1942):
  s1['F'+str(j)]=lgb.predict(x_test[x_test['day']==(i)]) 
  j+=1
s1["id"]=s1["id"].apply(lambda x: x.replace('evaluation','validation'))
s2=s1.copy()
s2["id"]=s1["id"].apply(lambda x: x.replace('validation','evaluation'))
submit_LGBM_Regressor_=pd.concat([s1,s2]).reset_index().drop(['index'],axis=1)

In [ ]:
submit_LGBM_Regressor_.head()

                              id        F1  ...       F27       F28
0  HOBBIES_1_001_CA_1_validation  0.962114  ...  1.025453  1.188545
1  HOBBIES_1_002_CA_1_validation  0.179332  ...  0.691800  0.348576
2  HOBBIES_1_003_CA_1_validation  0.699350  ...  1.188545  1.025453
3  HOBBIES_1_004_CA_1_validation  1.866811  ...  1.713982  2.779683
4  HOBBIES_1_005_CA_1_validation  1.720958  ...  1.028502  1.031992

[5 rows x 29 columns]

In [ ]:
submit_LGBM_Regressor_.to_csv("submit_LGBM_Regressor_test_3.csv",index=False)

## Submit Kaggle

In [ ]:
from google.colab import files
files.upload()

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [ ]:
!kaggle competitions submit -c m5-forecasting-accuracy -f submit_LGBM_Regressor_test_3.csv -m "Message"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
100% 33.1M/33.1M [00:07<00:00, 4.35MB/s]
Successfully submitted to M5 Forecasting - Accuracy

**Private Score:** Cải thiện tốt nhất hiện tại: 0.67380.
Thời gian Feature ít hơn 2 tiếng.<br>
Điểm gốc tác giả: 0.67749

![private_score](https://drive.google.com/uc?export=view&id=1yhV5v8hV400gxy0b3__5yQ1DrkFobu25)